main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale_banner{
    text-align: center;
    color: white;
    transform: rotate(45deg);
    border: white 10px solid;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    animation: rotating 3s infinite;
    cursor: pointer;
}
@keyframes rotating{
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}