main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    gap: 50px;
    justify-content: center;
}

.product_card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #DAE6FF;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    border: white 1px solid;
    gap: 5px;
}

.product_card img{
    width: 250px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 5px;
    border: white 1px solid;
}

.product_card .description{
    width: 100%;
    height: 100%;
}