<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/for_catalog/style.css">
    <title>Topzon</title>
</head>
<body>
    <header>
        <img src="../static/img/menu_icon.svg" alt="menu">
        <div class="find">
            <input type="text">
            <img src="../static/img/finder.svg" alt="">
        </div>
    </header>
    <main>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
        <div class="product_card">
            <img src="" alt="product">
            <div class="description">
                <h2>что-то</h2>
                <p>описание</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;uvaprol</p>
    </footer>
</body>
</html>