<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/for_index/style.css">
    <title>Topzon</title>
</head>
<body>
    <header>
        <img src="../static/img/menu_icon.svg" alt="menu">
        <div class="find">
            <input type="text">
            <img src="../static/img/finder.svg" alt="">
        </div>
    </header>
    <main>
        <div class="sale_banner" onclick="open_catalog()">
            <h1>11.11<br>РАСПРОДАЖА<br>ПУГАЮЩИЕ<br>СКИДКИ</h1>
        </div>
    </main>
    <footer>
        <p>&copy;uvaprol</p>
    </footer>
</body>
<script src="../static/for_index/script.js"></script>
</html>